workflow_debug.json
{"updatedAt":"2026-02-08T19:35:20.626Z","createdAt":"2026-02-07T21:38:41.125Z","id":"AEHZY1oSFm21_AyY8Cb3m","name":"Laapak Smart Search Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evolution/wa-message","options":{}},"id":"e08a2f43-42b5-4f7d-9aa8-72cd81007bf1","name":"Evolution Webhook2","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-992,-80],"webhookId":"694c6c90-f061-4e44-8339-c91b10cf6ba5"},{"parameters":{"functionCode":"const data = $json.body.data;\nconst instance = $json.body.instance;\n\nif (data.key.remoteJid.includes('@g.us')) return [];\nif (data.key.fromMe) return [];\n\nconst jidFull = data.key.remoteJid;\nconst jid = jidFull.split('@')[0];\n\nlet message = '';\nif (data.message?.conversation) {\n  message = data.message.conversation;\n} else if (data.message?.extendedTextMessage?.text) {\n  message = data.message.extendedTextMessage.text;\n} else {\n  return [];\n}\n\nreturn [{\n  jid,\n  instance,\n  message,\n  remoteJid: jidFull\n}];"},"id":"f8b25b3b-cc78-4491-86a6-08a380989ef9","name":"Prepare Message2","type":"n8n-nodes-base.function","typeVersion":1,"position":[-768,-80]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO laapak_automation.whatsapp_messages (jid, message, sender, instance_id)\nVALUES (\n  '{{ $json.remoteJid }}',\n  '{{ $json.message }}',\n  'user',\n  '{{ $json.instance }}'\n);"},"id":"31e7c999-5212-48b6-8fd6-4cc8ec5bf7ee","name":"Log Incoming Message2","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[-560,-80],"credentials":{"mySql":{"id":"Q0NfgscaNlxdoqJl","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT sender, message FROM laapak_automation.whatsapp_messages \nWHERE jid = '{{ $node[\"Prepare Message2\"].json.remoteJid }}' \nORDER BY created_at DESC LIMIT 6;"},"id":"34ad8a7c-e676-44bf-810e-f23064739185","name":"Fetch History2","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[-336,-80],"credentials":{"mySql":{"id":"Q0NfgscaNlxdoqJl","name":"MySQL account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"messages":{"values":[{"content":"=You are an intent analyzer for Laapak e-commerce store.\n\nYour job is to understand what the user wants and extract structured data for WooCommerce search.\n\nAVAILABLE CATEGORIES (use ONLY these IDs):\n\nMain Laptop Categories:\n- General Laptops → id: 437\n- Business / Study → id: 438\n- Workstation / Heavy work → id: 442\n- 2-in-1 → id: 463\n\nOther Categories:\n- PCs → id: 594\n- Processors → id: 424\n- Monitors → id: 557\n- Tablets → id: 598\n\nAlways return category as the numeric ID (not text).\n\n---\n\nCHAT HISTORY:\n{{ $node[\"Aggregate History\"].json.full_history }}\n\nCURRENT USER MESSAGE:\n{{ $('Prepare Message2').first().json.message }}\n\n---\n\nINTENT TYPES\n\n1) search\nIf user asks about a specific model:\nExamples:\n- سعر Dell 5550\n- مواصفات ThinkPad T14\n- هل الجهاز ده متاح؟\n\nReturn:\nintent = \"search\"\nkeyword = exact model name\ncategory = null\n\n---\n\n2) suggest\nUse if user asks for:\n- بديل\n- حاجة تانية\n- أرخص\n- في حدود سعر\n- ترشيح\n- مقارنة\n- budget mentioned\n\nEven if a specific model exists in history:\nIf the user asks for cheaper / alternative → intent MUST be \"suggest\"\n\nCATEGORY MAPPING RULES:\n\nWorkstation (442) if:\n- Precision\n- Quadro\n- تصميم\n- رندر\n- مونتاج\n- شغل تقيل\n\nBusiness / Study (438) if:\n- كلية\n- دراسة\n- برمجة\n- استخدام عادي\n- ThinkPad / EliteBook / Latitude\n\n2-in-1 (463) if:\n- 2×1\n- Touch + tablet\n- يقلب تابلت\n\nGeneral laptops (437) if:\n- \"عايز لابتوب وخلاص\"\n- غير محدد\n\nGaming → use General (437) unless gaming category exists.\n\nOther devices:\n- Monitor → 557\n- Tablet → 598\n- PC → 594\n- Processor → 424\n\n---\n\nPRICE EXTRACTION\n\nExtract max_price if user mentions budget.\n\nExamples:\n\"في حدود 25\" → 25000  \n\"أقل من 30 ألف\" → 30000  \n\"بـ 20\" → 20000  \n\nIf no budget → null\n\n---\n\n3) chat\nGreetings, thanks, or unrelated conversation.\n\nReturn:\nintent = \"chat\"\n\n---\n\nOUTPUT JSON ONLY\n\n{\n  \"intent\": \"search\" | \"suggest\" | \"chat\",\n  \"keyword\": string | null,\n  \"category\": number | null,\n  \"max_price\": number | null\n}"}]},"builtInTools":{},"options":{}},"id":"201f728c-a875-431c-a4e6-3e90401e91e1","name":"Smart Extractor1","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-112,-80],"credentials":{"googlePalmApi":{"id":"NEwIq22S6A4xCOMW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"let text = $json.content.parts[0].text.trim();\ntry {\n  // Extract anything between { and }\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  \n  if (start !== -1 && end !== -1) {\n    const jsonStr = text.substring(start, end + 1);\n    return [JSON.parse(jsonStr)];\n  }\n  throw new Error(\"No JSON found\");\n} catch (e) {\n  // If parsing still fails, return chat to keep the bot alive\n  return [{ intent: 'chat', keyword: '' }];\n}"},"id":"66b8709f-2743-4b89-9e8e-6954484b6229","name":"Parse Intent1","type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-80]},{"parameters":{"dataType":"string","value1":"={{ $json.intent }}","rules":{"rules":[{"value2":"search"},{"value2":"suggest","output":1},{"value2":"chat","output":2}]}},"id":"b7815b84-72fd-4a72-beb6-d3f90eff3f29","name":"Intent Switch1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[320,-80]},{"parameters":{"operation":"getAll","limit":3,"options":{"search":"={{ $node[\"Parse Intent1\"].json.keyword }}"}},"id":"ff5783b5-d4f4-4b6a-8df0-2a95f3ffec37","name":"Woo Search Specific1","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[608,-240],"credentials":{"wooCommerceApi":{"id":"FnJ6t9PCdaJxvpAx","name":"WooCommerce account"}}},{"parameters":{"operation":"getAll","limit":10,"options":{}},"id":"b1f7a469-8c1b-4015-bb5a-a2371f145563","name":"Woo Suggest Broad1","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[608,-32],"credentials":{"wooCommerceApi":{"id":"FnJ6t9PCdaJxvpAx","name":"WooCommerce account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"messages":{"values":[{"content":"=You are \"بكيزة\" from Laapak (لابك).\nYou are a professional Egyptian tech sales assistant for laptops.\n\nPERSONALITY:\n- Professional, polite Egyptian tone\n- Friendly but NOT slang (no: يا غالي / يا باشا / حبيبي)\n- Clear, concise, structured\n- WhatsApp style, short lines\n\nCRITICAL RULES\n\n1) DATA ONLY\nUse ONLY products from PRODUCT CONTEXT.\nNever use internal knowledge.\n\n2) WHEN PRODUCT NOT FOUND\nSay:\n\"الموديل ده غير متاح حالياً، ممكن أرشح لك بديل قريب منه؟\"\nhandoff = false\n\n3) RESPONSE FORMAT (Max 4 short lines)\n\nIf product found:\n\n[Product Name]\nالسعر: [Price] جنيه\n[CPU] | [RAM] | [GPU]\n\nLast line (choose based on intent):\n- For browsing: \"ممكن تشوف التفاصيل من هنا:\"\n+ product link\n- For buying intent: \"تحب أأكد الحجز أو أوصلك مع المبيعات؟\"\n\n4) WEBSITE RULES\nIf user:\n- asks for details\n- asks for specs\n- asks \"لينك\"\n- or seems browsing\n\n→ Always send product permalink from PRODUCT CONTEXT.\n\nExample ending:\n\"التفاصيل الكاملة:\"\n[product_link]\n\n5) RECOMMENDATION RULE\nIf user asks:\n- budget\n- \"أفضل جهاز\"\n- \"ترشح ايه\"\n- comparison\n\n→ Return top 2 matching products only\nFormat:\n\n1) [Name] — [Price]\n2) [Name] — [Price]\n\nLast line:\n\"تحب تفاصيل جهاز منهم؟\"\n\nhandoff = false\n\n6) HANDOFF RULE (Important)\n\nSet handoff = true ONLY if user:\n- says: عايز أشتري\n- احجز\n- كلم حد\n- رقم\n- تقسيط\n- دفع\n- عنوان\n- شحن\n\nResponse example:\n\"تمام، هحولك لفريق المبيعات دلوقتي لمتابعة الطلب.\"\n\n7) NO SALES PRESSURE\nDo NOT say:\n- تحب أحجزهولك؟ (إلا لو نية شراء واضحة)\n- أي تعبيرات سوق أو محل ملابس\n\n8) NO MARKDOWN\nPlain text only.\n\n---\n\nPRODUCT CONTEXT:\n{{ \n  (function() {\n    try {\n      const items = $items(\"Woo Search Specific1\");\n      if (items && items.length > 0) {\n        return JSON.stringify(items.map(i => i.json));\n      }\n    } catch(e) {}\n    return \"NOT_FOUND\";\n  })()\n}}\n\nCHAT HISTORY:\n{{ $node[\"Aggregate History\"].json.full_history }}\n\nUSER MESSAGE:\n{{ $('Prepare Message2').first().json.message }}\n\nAlways return JSON:\n{\"reply\": \"...\", \"handoff\": false}"}]},"builtInTools":{},"options":{}},"id":"d59f14c3-f686-48df-a3ec-1988bacbf8f4","name":"Final Agent Response1","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1008,-80],"credentials":{"googlePalmApi":{"id":"NEwIq22S6A4xCOMW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"let text = $json.content.parts[0].text.trim();\n// 1. Clean the text (removes ```json, ``` and the plain word \"json\" at the start)\ntext = text.replace(/```json/g, '')\n           .replace(/```/g, '')\n           .replace(/^json/i, '') \n           .trim();\ntry {\n  const parsed = JSON.parse(text);\n  // 2. Return data at the TOP LEVEL (important for the Send Reply node)\n  return [{\n    reply: parsed.reply,\n    handoff: parsed.handoff,\n    jid: $node[\"Prepare Message2\"].json.jid\n  }];\n} catch (e) {\n  // 3. Fallback: If AI fails to give JSON, just send the text as a reply\n  return [{\n    reply: text,\n    handoff: false,\n    jid: $node[\"Prepare Message2\"].json.jid\n  }];\n}"},"id":"5f050aa4-46c2-4a5c-b60f-0df2041c9809","name":"Parse Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-384]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.handoff}}","value2":true}]}},"id":"6fa84913-0f05-408d-a8fc-e63763cf001d","name":"Handoff?2","type":"n8n-nodes-base.if","typeVersion":1,"position":[1456,-208]},{"parameters":{"method":"POST","url":"https://wa.fixzzone.com/message/sendText/Laapak","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"laapak_wa_2026_secret"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"number\": $node[\"Prepare Message2\"].json.jid,\n  \"text\": (function() {\n    try {\n      // 1. Clean the AI response\n      let raw = $json.content.parts[0].text.replace(/```json/gi, '').replace(/```/gi, '').replace(/^json/i, '').trim();\n      // 2. Try to get the \"reply\" field\n      return JSON.parse(raw).reply;\n    } catch (e) {\n      // 3. Fallback: Return the whole text if JSON parsing fails\n      return $json.content.parts[0].text.replace(/^json/i, '').trim();\n    }\n  })()\n}\n}}","options":{}},"id":"1f1ea81a-204b-4875-bfc1-2cd6c603aef9","name":"Send WA Reply2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1680,-80]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO laapak_automation.whatsapp_messages (jid, message, sender, instance_id)\nVALUES (\n  '{{ $node[\"Prepare Message2\"].json.remoteJid }}',\n  '={{ (function() {\n      try {\n        let raw = $node[\"Final Agent Response1\"].json.content.parts[0].text.replace(/```json/gi, \"\").replace(/```/gi, \"\").replace(/^json/i, \"\").trim();\n        return JSON.parse(raw).reply;\n      } catch (e) {\n        return $node[\"Final Agent Response1\"].json.content.parts[0].text.replace(/^json/i, \"\").trim();\n      }\n    })() }}',\n  'bot',\n  'Laapak'\n);"},"id":"de15f69d-a7e0-407c-a538-2cae89d22c29","name":"Log Bot Response2","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[1888,-80],"credentials":{"mySql":{"id":"Q0NfgscaNlxdoqJl","name":"MySQL account"}}},{"parameters":{"jsCode":"const items = $items(\"Fetch History2\"); // Make sure this matches your history node name\n// Combine all rows into one single item\nreturn [{\n  full_history: items.map(i => i.json.sender + \": \" + i.json.message).reverse().join(\"\\n\")\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-288],"id":"cbda012f-f0db-4219-8a41-42e250f1062f","name":"Aggregate History"},{"parameters":{"assignments":{"assignments":[{"id":"a0c97d99-7aad-48b1-8820-3ed65cf0d4d8","name":"=products","value":"=={{ JSON.stringify(\n  $items(\"Woo Search Specific1\").slice(0,3).map(item => ({\n    name: item.json.name,\n    price: item.json.price || item.json.regular_price,\n    link: item.json.permalink\n  }))\n) }}","type":"string"},{"id":"91cb651e-a4e2-4796-b215-d4f98872cc26","name":"history","value":"={{ $('Aggregate History').first().json.full_history }}","type":"string"},{"id":"b5ff6843-be20-438c-99e9-d483fe4fbfb8","name":"message","value":"={{ $('Prepare Message2').first().json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-528],"id":"e7be1b08-a5c7-4abd-aea0-db926f512521","name":"Edit Fields","executeOnce":true},{"parameters":{"jsCode":"const maxPrice = $json.max_price;\n\nif (!maxPrice) {\n  return items; // لو مفيش budget، رجّع كل المنتجات\n}\n\nreturn items.filter(item => {\n  const price = Number(item.json.price || item.json.regular_price || 0);\n  return price <= maxPrice;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-448],"id":"f9ef9f0a-2d31-4f53-82d3-1814796d7cc3","name":"Filter By Price"}],"connections":{"Evolution Webhook2":{"main":[[{"node":"Prepare Message2","type":"main","index":0}]]},"Prepare Message2":{"main":[[{"node":"Log Incoming Message2","type":"main","index":0}]]},"Log Incoming Message2":{"main":[[{"node":"Fetch History2","type":"main","index":0}]]},"Fetch History2":{"main":[[{"node":"Aggregate History","type":"main","index":0}]]},"Smart Extractor1":{"main":[[{"node":"Parse Intent1","type":"main","index":0}]]},"Parse Intent1":{"main":[[{"node":"Intent Switch1","type":"main","index":0}]]},"Intent Switch1":{"main":[[{"node":"Woo Search Specific1","type":"main","index":0}],[{"node":"Woo Suggest Broad1","type":"main","index":0}],[{"node":"Final Agent Response1","type":"main","index":0}]]},"Woo Search Specific1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Woo Suggest Broad1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Final Agent Response1":{"main":[[{"node":"Send WA Reply2","type":"main","index":0}]]},"Parse Response1":{"main":[[]]},"Handoff?2":{"main":[[{"node":"Send WA Reply2","type":"main","index":0}],[{"node":"Send WA Reply2","type":"main","index":0}]]},"Send WA Reply2":{"main":[[{"node":"Log Bot Response2","type":"main","index":0}]]},"Aggregate History":{"main":[[{"node":"Smart Extractor1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Final Agent Response1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"330c58b4-e357-46f6-bbe3-9bff4a74bbd2","activeVersionId":null,"versionCounter":224,"triggerCount":0,"shared":[{"updatedAt":"2026-02-07T21:38:41.128Z","createdAt":"2026-02-07T21:38:41.128Z","role":"workflow:owner","workflowId":"AEHZY1oSFm21_AyY8Cb3m","projectId":"meiimplxLEe4eKqS","project":{"updatedAt":"2026-02-02T01:38:03.235Z","createdAt":"2026-02-02T01:17:00.245Z","id":"meiimplxLEe4eKqS","name":"Mahmoud Nasser <mahmoudeldrwal@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"503435ca-294b-42bb-9959-79e72e114f3f","projectRelations":[{"updatedAt":"2026-02-02T01:17:00.245Z","createdAt":"2026-02-02T01:17:00.245Z","userId":"503435ca-294b-42bb-9959-79e72e114f3f","projectId":"meiimplxLEe4eKqS","user":{"updatedAt":"2026-02-08T15:41:18.000Z","createdAt":"2026-02-02T01:16:59.664Z","id":"503435ca-294b-42bb-9959-79e72e114f3f","email":"mahmoudeldrwal@gmail.com","firstName":"Mahmoud","lastName":"Nasser","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-02T01:38:57.077Z","personalization_survey_n8n_version":"1.119.2","companySize":"<20","companyType":"systems-integrator","role":"business-owner"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"-cigPT1kwuaWbcUIA9ckU","userActivatedAt":1770167946810,"easyAIWorkflowOnboarded":true,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1770553397893}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[],"activeVersion":null}